{% extends "bookings/base.html" %}

{% block title %}Edit Booking | Casa Fuego{% endblock %}

{% block content %}

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pirata+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=UnifrakturMaguntia&display=swap" rel="stylesheet">

<section class="auth-container">

    <h2 class="booking-cta">Edit Booking</h2>

    <form method="POST" class="booking-form">
        {% csrf_token %}
        {{ form.as_p }}

        {% if error %}
            <p style="color: red; margin-top: 10px;">{{ error }}</p>
        {% endif %}

        <button type="submit" class="btn">Save Changes</button>
    </form>

   
    <a href="{% url 'my_bookings' %}" class="btn-back">Back to My Bookings</a>
    

</section>

{% endblock %}
